<div class="container">
  <h1 class="my-4 text-center text-lg-left"><%= I18n.t("photo_upload") %></h1>

  <% if flash[:success] %>
    <div class="alert alert-success text-center"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:danger] %>
    <div class="alert alert-danger text-center"><%= flash[:danger] %></div>
  <% end %>

  <%= form_for(@post, multipart: true) do |f| %>
    <div class="row">

      <% Post::REQUIRED_FIELDS.each do |field| %>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <p><%= I18n.t(field) %> <strong class="text-danger">*</strong></p>
          <%= f.file_field field, accept: "image/jpg, image/png, image/jpeg",class: "d-none", onchange: "setPreviewImage(this)" %>
          <label for="post_<%= field %>">
            <img id="post_<%= field %>_image" class="img-fluid img-thumbnail" src="/upload.png" alt=<%= I18n.t(field) %>>
          </label>
        </div>
      <% end %>

      <div class="col-lg-6 col-md-6 col-xs-6">
        <p> <%= I18n.t("additional_docs") %></p>
        <%= f.file_field :additional, class: "d-none", onchange: "setPreviewImage(this)" %>
        <label for="post_additional">
          <img id="post_additional_image"class="img-fluid img-thumbnail" src="/add.png">
        </label>
      </div>
    </div>

    <%= f.submit "Send", class: "btn btn-default text-center" %>
  <% end %>
</div>

<script type="text/javascript">
  function setPreviewImage(e) {
    const imageTypes = ["image/jpeg", "image/jpg", "image/png"];
    var file = e.files[0];

    var fileReader = new FileReader();
    fileReader.onload = (function(event) {
      console.log(imageTypes.includes(file.type));
      if(imageTypes.includes(file.type)) {
        $("#" + e.id + "_image")[0].src = event.target.result;
      } else {
        $("#" + e.id + "_image")[0].src = "/doc.png";
      }
    });

    fileReader.readAsDataURL(file);
  }
</script>